<div class="container">
<div class="row">
    <h1>Directo A</h1>
</div>
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="bi bi-briefcase lg"></i>
              <h5 class="card-title">Estudiar</h5>
              <hr>
              <p>Escolarización 2023</p>
              <p>PASEN</p>
              <P>Becas de la Junta de Andalucía</P>
            </div>
          </div>
    </div>           
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="bi bi-briefcase lg"></i>
              <h5 class="card-title">Trabajar</h5>
              <hr>
              <p>Renovar demanda de empleo</p>
              <p>Ofertas de empleo</p>
              <P>Oposiciones secundaria, régimen especial y FP</P>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="bi bi-briefcase lg"></i>
              <h5 class="card-title">Tu salud</h5>
              <hr>
              <p>Cita en centros sanitarios</p>
              <p>Salud Responde</p>
              <P>Solicita o renueva la tarjeta sanitaria</P>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <i class="bi bi-briefcase lg"></i>
              <h5 class="card-title">Vivienda y consumo</h5>
              <hr>
              <p>Ayudas al alquiler de viviendas</p>
              <p>Ayudas Plan EcoVivienda</p>
              <P>Hojas de quejas y reclamaciones</P>
            </div>
          </div>
    </div>
</div>
</div>