<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="cards-wrapper">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <i class="bi bi-briefcase lg"></i>
          <h5 class="card-title">Estudiar</h5>
          <hr>
          <p>Escolarización 2023</p>
          <p>PASEN</p>
          <P>Becas de la Junta de Andalucía</P>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <i class="bi bi-briefcase lg"></i>
          <h5 class="card-title">Trabajar</h5>
          <hr>
          <p>Renovar demanda de empleo</p>
          <p>Ofertas de empleo</p>
          <P>Oposiciones secundaria, régimen especial y FP</P>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <i class="bi bi-briefcase lg"></i>
          <h5 class="card-title">Tu salud</h5>
          <hr>
          <p>Cita en centros sanitarios</p>
          <p>Salud Responde</p>
          <P>Solicita o renueva la tarjeta sanitaria</P>
        </div>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <i class="bi bi-briefcase lg"></i>
          <h5 class="card-title">Vivienda y consumo</h5>
          <hr>
          <p>Ayudas al alquiler de viviendas</p>
          <p>Ayudas Plan EcoVivienda</p>
          <P>Hojas de quejas y reclamaciones</P>
        </div>
        </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>