 
    <div class="row">
        <div class="col-5">
            <img class="logo" src="../../assets/images/logo.png" alt="logo Junta">
        </div>
        <div class="col centrar">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Estudiar</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Trabajar</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Tu salud</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Mas temas</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Transparencia</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">La junta</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Servicios</a>
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                <a href="">Noticias</a>
        </div>
    </div>
