<div class="container">
    <div class="row">
        <div class="col-5">
            <img class="logo" src="../../assets/images/logo.png" alt="logo Junta">
        </div>
        <div class="col">
                <i class="bi bi-briefcase lg"></i>
                Estudiar
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                Trabajar
            </div>
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                Tu salud
            </div>
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                Mas temas
            </div>
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                Transparencia
            </div>
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                La junta
            </div>
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                Servicios
            </div>
        </div>
        <div class="col">
            <div class="row">
                <i class="bi bi-briefcase lg"></i>
            </div>
            <div class="row">
                Noticias
            </div>
        </div>
    </div>
</div>