.imagen{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
    text-align: center;
}

.input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}